<a href="https://colab.research.google.com/github/KangDue/TIL/blob/master/st_step2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1
최빈값 찾기

In [ ]:
T = int(input())
for t in range(1,T+1):
  tn = int(input())
  temp = list(map(int,input().split()))
  bins = dict({ i:0 for i in set(temp)  })
  for i in bins.keys():
    bins[i] = temp.count(i)
  print(f'#{tn} {max(bins.items(),key = lambda x: x[1])[0]}')

1
1
1 1 1 1 2 3
#1 1

# 2
> 수도요금 싼곳 고르기
- A사 : 1리터당 P원의 돈을 내야 한다.
- B사 : 기본 요금이 Q원이고, 월간 사용량이 R리터 이하인 경우 요금은 기본 요금만 청구된다. 하지만 R 리터보다 많은 양을 사용한 경우 초과량에 대해 1리터당 S원의 요금을 더 내야 한다.

In [ ]:
T = int(input())
for t in range(1,T+1):
  p,q,r,s,w = map(int,input().split())
  a = w * p
  if w<= r:
    b = q
  else:
    b = q + (w-r)*s
  if a<b:
    print(f'#{t} {a}')
  else:
    print(f'#{t} {b}')

1
8 300 100 10 250
#1 1800

#3
>최빈값 변형
돌던지고 가까운 거리 던진 수 카운트

In [ ]:
T = int(input())
for t in range(1,T+1):
  n = int(input())
  temp = list(map(int,input().split()))
  dist = dict({i:0 for i in range(1,100001) })
  for i in temp:
    dist[abs(i)]+=1
  ans = max(dist.items(),key = lambda x:x[1])
  print(f'#{t} {ans[0]} {ans[1]}')

1
1
-100 100
#1 100 2

#4
> N간격 숫자세면서 0~9 모두 다보기

In [ ]:
T = int(input())
for t in range(1,T+1):
  n = int(input())
  nine = set(range(10))
  k = 0
  while nine:
    k += n
    nine = nine.difference(set( map( int,str(k) ) ))
  print(f'#{t} {k}')

#5
> Base64 디코딩하기
인코딩 절차
- 1.문자를 아스키 코드로 변환
- 2.변환한 코드를 이진수로 전환
- 3.3byte 로 이어 붙인뒤 6bit 씩 끊기
- 4.끊은 비트를 10진수로 전환
- 5.Base64표 값에 대입하여 인코딩

디코딩은 인코딩의 역순
목적: 통신과정에서 바이너리 데이터의 손실을 막기 위해 사용
- 플랫폼마다 비트중 나머지 처리 방식이 다름
여기서는 젤 앞자리랑 빈자리는 0으로 처리

In [ ]:
#base 64 dict 생성
uppers = dict({ i : chr(i+65) for i in range(26)})
lowers = dict({ i+26 : chr(i+97) for i in range(26)})
nums = dict({ i+52 : chr(i+48) for i in range(10)})
base64 = dict({62:"*",63:"/"}) #encoding 용
base64.update(uppers)
base64.update(lowers)
base64.update(nums)
# utf-8에서 알파벳 1글자 1바이트, 한글 3바이트
base64_dec = dict()
for k,v in base64.items():
  base64_dec[v] = k #decoding용

def to_byte(a): #숫자표현 7자리 맨앞자리는 0
  temp = bin(base64_dec[a])[2:] # 0b 제외 나머지 추출
  if len(temp) < 6: #6자리중 앞쪽 빈칸을 0으로 채워주기
    temp = '0'*(6-len(temp))+temp
  return temp

def bin_to_deci(a):
  result = 0
  length = len(a)-1
  for n,c in enumerate(a):
    result += int(c)*2**(length-n)
  return result

T = int(input())
for t in range(1,T+1):
  text = input()
  new_text = ''
  for i in text:
    new_text += to_byte(i)
  ans = ""
  for i in range(len(new_text)//8):
    ans += chr(bin_to_deci(new_text[8*i:8*i+8])) #8자리 이진수 평가 후 디코딩은 아스기 넘버로
  print( f'#{t} {ans}',end="" )
  print("")

1
TGlmZSBpdHNlbGYgaXMgYSBxdW90YXRpb24u
#1 Life itself is a quotation.

#6
> 소인수분해

In [52]:
def prime(n):
  a = [False,False] + [True]*(n-1)
  primes=[]

  for i in range(2,n+1):
    if a[i]:
      primes.append(i)
      for j in range(2*i, n+1, i): #다음배수부터 쭉
          a[j] = False #i의 배수는 소수 X 
  return primes

T = int(input())
for t in range(1,T+1):
  n = int(input())
  primes = prime(n)
  ans = dict({ i:0 for i in primes }) #소인수분해 범용성
  while n != 1:
    if n in primes:
      break
    for i in primes:
      while not(n%i):
        n = n//i
        ans[i] += 1        
      else:
        continue
  print(f'#{t} {ans[2]} {ans[3]} {ans[5]} {ans[7]} {ans[11]}')

1
30

# 7
>월 일로 이루어진 날짜를 2개 입력 받아, 두 번째 날짜가 첫 번째 날짜의 며칠째인지 출력

In [57]:
T = int(input())
for t in range(1  ,T+1):
  m0,d0, m1,d1 = map(int,input().split())
  m_d = [0,31,28,31,30,31,30,31,31,30,31,30,31]  
  days = d1 - d0 +1
  for i in range(m0,m1):
    days += m_d[i]
  print(f'#{t} {days}')

1
3 1 3 31
1 days

# 8
> 시계방향 회전해서 달팽이모양으로 숫자출력
n x n 달팽이
1. n-1 씩 상 우 하 좌 끊어서 입력 (테두리 하나씩)
2. 다음 테두리는 n-2 씩 상하좌우

In [153]:
def pa(a,t):
  print(f'#{t}')
  for i in a:
    temp = i.pop()
    for k in i:
      print(k,end=" ")
    print(temp)

T = int(input())
for t in range(1,T+1):
  n = int(input())
  mat = []
  for i in range(n): #빈 집 만들기
    temp = []
    for k in range(n):
      temp.append(0)
    mat.append(temp)

  if n%2==0:
    step = n//2
  else:
    step = n//2+1
  
  count = 1
  shell = n # 껍질수
  for k in range(step):
    for i in range(0,shell-1): # 상
      mat[k][i+k] = count
      count += 1
    for i in range(0,shell-1): #우
      mat[i+k][-1-k] = count
      count += 1
    for i in range(0,shell-1):
      mat[-1-k][-1-i-k] = count #하
      count += 1
    for i in range(0,shell-1):#좌
      mat[-1-i-k][k]= count
      count += 1
    shell -= 2
  if count == n**2:
    mat[n//2][n//2]=n**2
    
  pa(mat,t)

1
4
0 4
1 2
----
[1, 2, 3, 4]
[12, 13, 14, 5]
[11, 16, 15, 6]
[10, 9, 8, 7]
----

# 9
> 숫자 정렬

In [167]:
T = int(input())
for t in range(1,T+1):
  n = int(input())
  nums = list(map(int,input().split()))
  nums.sort() #내장 함수 말고 직접 정렬 알고리즘 구현해보기!
  temp = nums.pop()
  for i in nums:
    print(i,end=" ")
  print(temp)

1
5
1 4 7 8 0
0 1 4 7 8

# 10
> 거스름돈 갯수가 최소가 될때 화폐별 몇개씩 필요한가?

In [ ]:
T = int(input())
for t in range(1,T+1):
  units = dict({50000:0 ,10000:0 ,5000:0 ,1000:0,500:0,100:0,50:0,10:0})
  n = int(input())
  changes = []
  for i in units.keys():
    if n == 0:
      break
    elif n >= i:
      units[i]=n//i
      n = n%i
    else:
      continue
  temp = list(units.values())
  a = temp.pop()
  print(f'#{t}')
  for i in temp:
    print(i,end=" ")
  print(a)

# 11
> 시간 계산

In [180]:
T = int(input())
for t in range(1,T+1):
  h0,m0,h1,m1 = map(int,input().split()) # 12시 표기 h = 1~12, m = 0~59
  h,m = (h0+h1)%12+(m0+m1 > 59), (m0+m1)%60
  print(f'#{t} {h} {m}')

1
3 17 1 39
1 4 56

# 12
> A+ ~ D0 성적매기기
- tot = mid + final + hw
- -----------35%    45%    20%

In [ ]:
def qs(x):
  if len(x) <= 1: #하나만 남게된 리스트 반환
    return x
  pivot = x[len(x)//2] #적당히 가운데 값 pivot
  less_x, eq_x, large_x = [], [], []
  for num in x:
    if num <pivot:
      less_x.append(num)
    elif num>pivot:
      large_x.append(num)
    else:
      eq_x.append(num)
  return qs(less_x) + eq_x + qs(large_x) #각각의 재귀로 크기 1이 될때까지 분기가 되어
  # 마지막에 합쳐짐
grade = ['D0','C-','C0','C+','B-','B0','B+','A-','A0','A+']
#10분의 n명씩 동일한 점수주기 가능 (10구간임)
# n도 10의 배수로 주어짐
# 찾고자 하는 K번째 학생은 동점자가 없다.
T = int(input())
for t in range(1,T+1):
  n, k = map(int,input().split())
  students = [list(map(int,input().split())) for i in range(n)]
  students = [i[0]*0.35+i[1]*0.45+i[2]*0.2 for i in students]
  kscore = students[k-1]
  students = qs(students)
  for i in range(n):
    if students[i] == kscore:
      print(f'#{t} {grade[ i // (n//10) ]}')

# 13
> 숫자 리스트중 최대,최소값 제외 평균값

In [ ]:
n = 10 #입력은 10개임
T = int(input())
for t in range(1,T+1):
  nums = list(map(int,input().split()))
  for i in range(n-1):
    if nums[i] < nums[i+1]: #마지막으로 최솟값 이동
      nums[i], nums[i+1] = nums[i+1], nums[i]
  for i in range(-2,-n,-1): #최소값 빼고 거꾸로 돌면서 최댓값 맨앞으로
    if nums[i] > nums[i-1]:
      nums[i] , nums[i-1] = nums[i-1] , nums[i]
  print(f'#{t} {round( sum(nums[1:-1])/(n-2) )}')

# 14
> 자연수 N 이 주어질 때 1~N 까지 +, - 연산
번갈아 가면서 시행한 결과

In [ ]:
T = int(input())
for t in range(1,T+1):
  n = int(input())
  ans = 0
  sign = True
  for i in range(1,n+1):
    if sign:
      ans += i
      sign = False
    else:
      ans -= i
      sign = True
  print(f'#{t} {ans}')

# 15
> 파스칼 삼각형 출력하기

In [243]:
T = int(input())
for t in range(1,T+1):
  pascal = [None,[1]]
  n = int(input()) # n 층 삼각형 만들기
  for i in range(2,n+1):
    pascal.append( [1]*i )
    for k in range(1,len(pascal[i-1])):
      pascal[i][k]= pascal[i-1][k-1] + pascal[i-1][k]
  print(f'#{t}')
  pascal = pascal[1::]
  for i in pascal:
    temp = i.pop()
    for k in i:
      print(k,end=" ")
    print(temp)

1
4
#1
1
1 1
1 2 1
1 3 3 1

# 16
> 패턴중 반복되는것 = 마디
- 마디의 길이는?

In [249]:
T = int(input())
for t in range(1,T+1):
  word = input()
  length = len(word)
  for i in range(1,length+1):
    if word[:i] == word[i:2*i]:
      print(f'#{t} {i}')
      break

1
aa
#1 1

# 17
> 3,6,9 게임
- 1~n 중에 3이들어가는 숫자는 3의 갯수만큼 -를 n개 출력

In [264]:
def count_369(x):
  x = str(x)
  if not('3' in x) and not('6' in x) and not('9' in x):
    print(x,end="")
  else:
    print('-'*( x.count('3')+x.count('6')+x.count('9') ),end="")
    
n = int(input())
for i in range(1,n):
  count_369(i)
  print(" ",end="")
count_369(n)

10
1 2 - 4 5 - 7 8 - 10

# 18
> - 1. 연속된 n 일간 물건 가격 알고 있음
- 2. 하루 최대 1만큼 구매 가능
- 3. 판매는 얼마든지 가능
- 4. 얻을 수 있는 최대 이득은??

In [294]:
T = int(input())
for t in range(1,T+1):
  n = int(input())
  prices = list(map(int,input().split()))

  sur = 0
  while prices: #최고가 인날 찾아서 그 앞은 다팔기 반복:
    mp = max(prices)
    mp_index = prices.index(mp)
    sur += mp*mp_index - sum(prices[:mp_index]) #일일이 다 비교하면 너무 느려짐.
    prices = prices[mp_index+1::] #수학적으로 좀 봐서 계산/비교 줄이고, 크기 줄여나가기
  print(f'#{t} {sur}')

"""단계
1. 최댓값 찾기
2. 그 앞부분 전부 최댓값과 차이의 합을 흑자로 더하기
3. 최댓값포함 앞부분 자르기 .
4. 1~3을 prices = []이 될때까지 반복
"""

1
1
9 8 7
#1 0