<a href="https://colab.research.google.com/github/KangDue/TIL/blob/master/st_step1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0
거꾸로 숫자 출력

In [8]:
n = int(input())
for i in range(n,0,-1):
  print(i,end=" ")
print(0,end="")

8
8 7 6 5 4 3 2 1 0

#1
1부터 n번 2씩 곱해서 출력

In [ ]:
n = int(input())
ans = 1
for i in range(1,n+1):
    print(ans,end=" ")
    ans *= 2
print(ans)

#2
약수 출력

In [63]:
def lprint(x):
  a = x.pop()
  for i in x:
    print(i,end=" ")
  print(a)

n = int(input())
temp = [False] + [False] * n
for i in range(1,n+1):
  for k in range(1,n+1):
    if i*k == n:
      temp[i], temp[k] = True, True
temp = [i for i in range(n+1) if temp[i]==True]
lprint(temp)

10
1 2 5 10

#3
두 수의 + - * / 순서대로 출력

In [69]:
a, b = map(int,input().split())
print(a+b,a-b,a*b,int(a/b),sep="\n")

8 3
11
5
24
2

# 4
> 1부터~n까지 더하기
- 간단하게 점화식 쓸 수 있으면 좋다

In [70]:
n = int(input())
print(int(n*(n+1)/2))

3

# 5
> 대각선 출력하기

In [73]:
print("#++++")
print("+#+++")
print("++#++")
print("+++#+")
print("++++#")

#++++
+#+++
++#++
+++#+
++++#

# 6
몫과 나머지 출력

In [75]:
T = int(input())
for t in range(1,T+1):
  a,b = map(int,input().split())
  print("#{}".format(t), a//b, a%b)

3
9 2
#1 4 1
15 6
#2 2 3
369 15
#3 24 9

#7
> 노가다로 비번맞추기
- 3자리 자물쇠 한칸씩 돌릴때
- 몇번 돌려야 하나?

In [78]:
p,k = map(int,input().split())
print(abs(p-k+1))

123 100
24

#8
숫자만큼 #출력

In [79]:
n = int(input())
print("#"*n)

3
###

#9
소문자 to 대문자

In [80]:
text=input()
print(text.upper())

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it.

#10
문자를 숫자로 바꾸기
A~z 1~26

In [90]:
def lprint(x):
  a = x.pop()
  for i in x:
    print(i,end=" ")
  print(a)
text=input()
temp = [ord(i)-64 for i in text]
lprint(temp)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

#11
날짜 유효성 판단

In [103]:
vali =  dict({ 1:31,2:28,3:31,4:30,5:31,6:30,
              7:31,8:31,9:30,10:31,11:30,12:31})
n = int(input())
days = [input() for i in range(n)]
for num,con in enumerate(days):
  y,m,d = con[:4],con[4:6],con[6::]
  if (0<int(m)<13) and (int(d) <= vali[int(m)]):
    print(f'#{num+1} {y}/{m}/{d}')
  else:
    print(f'#{num+1} {-1}')

1
22220228
#1 2222/2/28

#12
최대값 출력하기

In [107]:
n = int(input())
for N in range(n):
  nums = list(map(int,input().split() ) )
  mv=0
  for i in nums:
    if mv < i:
      mv =i
  print(f'#{N+1} {mv}')

1
3 17 1 39 8 41 2 32 99 2 22 8 5 123 7 2 63 7 3 46 6 63 2 3 58 76 21 33 8 1

#13
>숫자 2개 비교후 등호 또는 부등호 출력

In [112]:
T = int(input())
for t in range(1,T+1):
  a,b = map(int,input().split())
  if a>b:
    print(f'#{t} >')
  elif a==b:
    print(f'#{t} =')
  else:
    print(f'#{t} <')

1
3 8
#1 <

#14
평균값 구하기 소수점 첫째자리에서 반올림

In [113]:
T = int(input())
for t in range(1,T+1):
  temp = list(map(int,input().split()))
  print(f'#{t} {round( sum(temp)/10 )}')

1
3 17 1 39 8 41 2 32 99 2
#1 24

#15
홀수만 더하기

In [ ]:
T = int(input())
for t in range(1,T+1):
  temp = list(map(int,input().split()))
  temp = [i for i in temp if i%2 !=0]
  print(f'#{t} {round( sum(temp))}')